* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
}

.link{
	cursor: pointer;
	position: relative;
	text-decoration: none; 
    color: white;
}

.link:after{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #FFFFFF;
	content: "";
	transition: width 0.3s ease-out;
}

.link:hover:after, .link:focus:after {
	width: 100%;
}

/* boostrap container */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
/* /bootstrap container */


/*header*/
.header{
	background-color: #000000;
	justify-content: space-between;
	color: white;

	height: 120px;
}

.header__inner{
	margin-left: 40px;
}

.header__title{
	font-size: 36px;
	font-weight: 400;

	align-self: center;
	margin-right: 20px;
}

.nav__list li{
	display: inline;
}

.nav__item{
	padding-right: 50px;	
}

.nav__list{
	align-self: center;
}
/*header*/

/*footer*/
.footer{
	background-color: black;
	color: white;
	padding-bottom: 50px;
}

.footer__contacts{
	flex-direction: column;
	margin-left: 2rem;
	margin-top: 4rem;
}

.footer__title{
	font-weight: 400;
	margin-bottom: 40px;
}

.footer__inner{
	justify-content: space-between;
}

.footer__paragraph{
	margin-bottom: 20px;
}

.footer__info{
	flex-direction: column;
	margin-top: 2.5rem;
}

.footer__social{
	align-self: center;
	margin-top: 20px;
}

.footer__social-item{
	margin-right: 20px;
	width: 40px;
	height: 40px;
	align-self: center;
}
/*footer*/