* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
}

.link{
	cursor: pointer;
	position: relative;
	text-decoration: none; 
}

.link:after{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #FFFFFF;
	content: "";
	transition: width 0.3s ease-out;
}

.link:hover:after, .link:focus:after {
	width: 100%;
}

/*header*/
.header{
	background-color: #000000;
	justify-content: space-between;
	color: white;

	height: 120px;
}

.header__inner{
	margin-left: 40px;
}

.header__title{
	font-size: 36px;

	align-self: center;
	margin-right: 20px;
}

.nav__list li{
	display: inline;
}

.nav__item{
	padding-right: 50px;	
}

.nav__list{
	align-self: center;
}
/*header*/