<footer class="footer">

        <div class="footer__inner flex">

            <div class="footer__contacts flex">
                <h1 class="footer__title">Контакты</h1>
                <p class="footer__paragraph">107023, г. Москва, ул. Б. Семёновская, 38</p>
                <p class="footer__paragraph">+7 495 223-05-23 (доб. 1709) или 0523 с любого мобильного</p>
                <p class="footer__paragraph">fit@mospolytech.ru</p>
            </div>

            <div class="footer__info flex">
                <img src="polytech.png">

                <div class="footer__social flex">
                    <a href="https://www.instagram.com/mospolytech/"><img src="instagram.svg" class="footer__social-item"></a>
                    <a href="https://t.me/mospolytech"><img src="telegram.svg" class="footer__social-item"></a>
                    <a href="https://www.facebook.com/moscowpolytech/?ref=aymt_homepage_panel"><img src="facebook.svg" class="footer__social-item"></a>
                    <a href="https://vk.com/moscowpolytech"><img src="vk.svg" class="footer__social-item"></a>
                    <a href="https://www.youtube.com/channel/UCJMY2ilUHti99R6ii2PIIYA/videos"><img src="youtube.svg" class="footer__social-item"></a>
                </div>
            </div>


        </div>

    </footer>
    <script src="../../js/script.js"></script>