<form action="/create" method="POST">

<h1 class="portfolio__h1">Создание вашего портфолио</h1>

    <div class="portfolio">
		<div class="portfolio__inner">

                <div class="flex">
                    <p class="modal-form-paragraph paragraph-1">Ваше ФИО:</p>
                    <input type="text" size="80" name="NSP"> 
                
                </div>
                
                <div class="flex">
                    <p class="modal-form-paragraph paragraph-2">Ваша учебная группа:
                    <input type="text" size="80" name="group"> 
                </div>
                
                <div class="flex">
                    <p class="modal-form-paragraph paragraph-3">Ваше направление:
                    <input type="text" size="80" name="faculty"> 
                </div>
                
                <div class="flex">
                    <p class="modal-form-paragraph paragraph-4">Название вашего проекта:
                    <input type="text" size="80" name="title"> 
                </div>
                
                <div class="flex">
                    <p class="modal-form-paragraph paragraph-5">Ваш куратор:
                    <input type="text" size="80" name="curator"> 
                </div>

                <div class="flex">
                    <p class="modal-form-paragraph paragraph-6">Ваш заказчик (если есть):
                    <input type="text" size="80" name="customer"> 
                </div>    
                
                <div class="flex">
                <p class="modal-form-paragraph paragraph-7">Ваша лаборатория (если есть):
                    <input type="text" size="80" name="laboratory"> 
                </div>

                <div class="modal__footer flex">
                    <button class="modal__button" type="submit">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>


</form>