<main class="main">
        <section id="about">

            <div class="about__inner">
                <h1 class="about__title">О нас</h1>
                <p class="about__paragraph">Портфолио - это визитная карточка, то есть совокупность сведений о человеке; досье, собрание документов, образцов работ, фотографий,
                    дающих представление о возможностях, способностях специалиста.</p>
                    
                <p class="about__paragraph">Создание портфолио – интересный и творческий процесс, позволяющий 
                    собрать в одном месте результаты, достигнутые студентом в разнообразных видах деятельности 
                    (учебной, творческой, общественной) за время обучения, систематизировать их и представить в самом выгодном свете.
                    Целью портфолио является максимальное раскрытие индивидуальных возможностей каждого студента, развитие мотивации к непрерывному обучению, повышение самооценки.</p>
                    
            </div>

            <div class="about__img flex">
                <img src="about.png">
            </div>
        </section>

        <section id="portfolio">
            <div class="portfolio__inner">
                <h1 class="portfolio__h1">Портфолио студентов</h1>
            </div>

            <div class="portfolio__main">
                <div class="wrapper">
                    <h2 class="wrapper__name"></h2>

                    <p class="wrapper__paragraph"></p>
                    <p class="wrapper__paragraph"></p>
                    <p class="wrapper__paragraph"></p>

                    <div class="wrapper__footer flex">
                        <button class="wrapper__button">Перейти</button>
                    </div>
                </div>
            </div>

            <div class="portfolio__footer flex">
                <button class="portfolio__button">Добавить</button>
            </div>

