<h1 class="laboratory__title">Список лабораторий проектной деятельности</h1>

        <ul class="laboratory__list">
            <li class="laboratory__item">Лаборатория внутренней разработки</li>
            <li class="laboratory__item">Лаборатория внешней разработки</li>
            <li class="laboratory__item">Лаборатория веб-студия</li>
        </ul>

        <div class="portfolio__footer flex">
                <button class="portfolio__button" id="modal-1-btn">Добавить</button>
        </div>

        <!-- modals -->
				<div class="modal-wrapper" id="modal-1">
					<div class="modal-wrapper__bg">
						<div class="modal__close">
							<div></div>
							<div></div>
						</div>
					</div>

					<div class="container">
						<div class="modal">
							<div class="modal__inner">
                                <h1 class="modal__title">Заполните данные о лаборатории</h1>

                                <div class="flex">
                                    <p class="modal-form-paragraph paragraph-1">Название:</p>
                                    
                                </div>
                                
                                <div class="flex">
                                    <p class="modal-form-paragraph paragraph-2">Направление:
                                        
                                </div>
                                
                                <div class="flex">
                                    <p class="modal-form-paragraph paragraph-3">Количество проектов:
                                        
                                </div>
                                
                                <div class="flex">
                                    <p class="modal-form-paragraph paragraph-4">Число кураторов в лаборатории:
                                        
                                </div>
                            </div>

                                <div class="modal__footer flex">
                                    <button class="modals__button">Добавить</button>
                                </div>
                            </div>
						</div>
					</div>
				</div>


