<h1 class="laboratory__title">Список лабораторий проектной деятельности</h1>

        
        <ul class="laboratory__list">
            {{#each laboratories}}

            <li class="laboratory__item">{{title}}</li>
            
            {{/each}}
        </ul>

        <div class="portfolio__footer flex">
                <button class="portfolio__button" id="modal-1-btn">Добавить</button>
        </div>

        <!-- modals -->
				<div class="modal-wrapper" id="modal-1">
					<div class="modal-wrapper__bg">
						<div class="modal__close">
							<div></div>
							<div></div>
						</div>
					</div>

					<div class="container">
						<div class="modal">
							<div class="modal__inner">
                                <form action="/laboratory" method="POST">
                                    <h1 class="modal__title">Заполните данные о лаборатории</h1>

                                    <div class="flex modal__div">
                                        <p class="modal-form-paragraph paragraph-1 flex">Название:</p>
                                        <input type="text" name="title"> 
                                    </div>
                                    
                                    <div class="flex modal__div">
                                        <p class="modal-form-paragraph paragraph-2">Направление:
                                        <input type="text" name="faculty">     
                                    </div>
                                    
                                    <div class="flex modal__div">
                                        <p class="modal-form-paragraph paragraph-3">Количество проектов:
                                        <input type="text" name="number">  
                                    </div>
                                    
                                    <div class="flex modal__div">
                                        <p class="modal-form-paragraph paragraph-4">Число кураторов в лаборатории:
                                        <input type="text" name="curators">    
                                    </div>
                                </div>

                                    <div class="modal__footer flex">
                                        <button class="modals__button" type="submit">Добавить</button>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
				</div>


