<form action="/login" method="POST">

<h1 class="main__title">Войти в аккаунт</h1>

        <div class="main__input">
            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваш логин:
                <input type="text" size="80" name="username">
            </div>

            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваш пароль:
                <input type="text" size="80" name="password">
            </div>

            <div class="main__footer flex">
                <button class="main__button" type="submit">Войти</button>
            </div>
        </div>

</form>