 <h1 class="main__title">Регистрация</h1>

        <div class="main__input">
            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваш логин:
                    <form name="name" method="post">
                        <input type="text" size="80"> 
                    </form>
            </div>

            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваш пароль:
                    <form name="password" method="post">
                        <input type="text" size="80"> 
                    </form>
            </div>

            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваша почта:
                    <form name="password" method="post">
                        <input type="text" size="80"> 
                    </form>
            </div>

            <div class="main__form flex">
                <p class="modal-form-paragraph">Ваш номер телефона:
                    <form name="password" method="post">
                        <input type="text" size="70"> 
                    </form>
            </div>

            <div class="main__footer flex">
                <button class="main__button">Зарегистрироваться</button>
            </div>
        </div>