* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
}

.link{
	cursor: pointer;
	position: relative;
	text-decoration: none; 
	color: white;
}

.link:after{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #FFFFFF;
	content: "";
	transition: width 0.3s ease-out;
}

.link:hover:after, .link:focus:after {
	width: 100%;
}

/*header*/
.header{
	background-color: #000000;
	justify-content: space-between;
	color: white;

	height: 120px;
}

.header__inner{
	margin-left: 40px;
}

.header__title{
	font-size: 36px;
	font-weight: 400;

	align-self: center;
	margin-right: 20px;
}

.nav__list li{
	display: inline;
}

.nav__item{
	padding-right: 50px;	
}

.nav__list{
	align-self: center;
}
/*header*/

/*about*/
.about__title{
	text-align: center;
	font-size: 40px;
	font-weight: 400;

	margin-top: 8rem;
}

.about__paragraph{
	text-align: center;
	margin-top: 25px;
	font-size:18px;

	margin-right: 10rem;
	margin-left: 10rem;
}

.about__img{
	justify-content: center;
	margin-top: 40px;
}
/*about*/

/*portfolio*/
.portfolio__h1{
	text-align: center;
	font-weight: 400;
	font-size: 40px;

	margin-top: 6rem;
	margin-bottom: 75px;
}

.portfolio__main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

.portfolio__footer{
	justify-content: center;

	margin-top: 9rem;
}

.portfolio__button{
	background-color: #000000;
	color: white;
	font-size: 36px;

	height: 75px;
	width: 330px;
	border-radius: 20px;
	border: 1px solid #000000;
	cursor: pointer;

	margin-bottom: 100px;
}

.portfolio__button:hover{
	background-color: #FFFFFF;
	color: black;
	transition: 0.4s;
}
/*portfolio*/

/*wrapper*/
.wrapper{
	width: 400px;

	border: 1px solid #a9a9a9;
	border-radius: 10px;

	margin-top: 80px;

}
.wrapper__name{
	font-size: 30px;
	font-weight: 400;

	width: 230px;

	margin: 0 auto;
	text-align: center;

	margin-bottom: 70px;
	margin-top: 40px;
}

.wrapper__paragraph{
	margin-bottom: 10px;
	font-size: 18px;
	margin-left: 10px;
}

.wrapper__button{
	width: 150px;
	height: 35px;

	border-radius: 20px;
	background-color: #000000;
	color: white;
	border: 0px;

	cursor: pointer;
	margin-bottom: 30px;
}

.wrapper__button:hover{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid black;

	transition: 0.4s;
}

.wrapper__footer{
	justify-content: center;
	margin-top: 60px;
}
/*wrapper*/

/*footer*/
.footer{
	background-color: black;
	color: white;
	padding-bottom: 50px;
}

.footer__contacts{
	flex-direction: column;
	margin-left: 2rem;
	margin-top: 4rem;
}

.footer__title{
	font-weight: 400;
	margin-bottom: 40px;
}

.footer__inner{
	justify-content: space-between;
}

.footer__paragraph{
	margin-bottom: 20px;
	align-self: start;
}

.footer__info{
	flex-direction: column;
	margin-top: 2.5rem;
}

.footer__social{
	align-self: center;
	margin-top: 20px;
}

.footer__social-item{
	margin-right: 20px;
	width: 40px;
	height: 40px;
	align-self: center;
}
/*footer*/


.paragraph-1{
	margin-right: 20px;
}

.paragraph-2{
	margin-right: 20px;
}

.paragraph-3{
	margin-right: 20px;
}

.paragraph-4{
	margin-right: 20px;
}

.paragraph-5{
	margin-right: 20px;
}

.paragraph-6{
	margin-right: 20px;
}

.paragraph-7{
	margin-right: 20px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid grey;
	outline: none;
}

.modal__footer{
	justify-content: center;
}

.modal__button{
	background-color: #000000;
	color: white;
	font-size: 36px;

	height: 75px;
	width: 330px;
	border-radius: 20px;
	border: 1px solid #000000;
	cursor: pointer;

	margin-top: 20px;
	margin-bottom: 40px;
}

.modal__button:hover{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid black;

	transition: 0.4s;
}

.modal-form-paragraph{
	font-size: 18px;

	margin-bottom: 40px;
	margin-left: 20px;
}

.modals__button{
	background-color: #000000;
	color: white;
	font-size: 36px;

	height: 75px;
	width: 330px;
	border-radius: 20px;
	border: 1px solid #000000;
	cursor: pointer;

	margin-top: 20px;
	margin-bottom: 40px;
}

.modals__button:hover{
	background-color: #FFFFFF;
	color: black;
	border: 1px solid black;

	transition: 0.4s;
}

.modal-wrapper {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.modal-wrapper__bg {
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.modal__close {
	position: fixed;
	right: 30px;
	top: 38px;
}

.modal-wrapper.active {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid #000000;
}

.modal {
	width: 100%;
	max-height: 80vh;

	background: #fff;
	overflow-y: scroll;

	position: relative;
	z-index: 20;
}

.modal__bg {
	width: 100%;
	max-height: 200px;

	object-fit: cover;
}

.modal__block-info {
	padding: 30px;
}

.modal__close div {
	background: #CC0000;
	border-radius: 5px;

	width: 30px;
	height: 5px;

	transition: all 0.3s ease;

	position: absolute;
	right: 0;
	top: 0;
}

.modal__close div:nth-child(1) {
	transform: rotate(45deg);
}

.modal__close div:nth-child(2) {
	transform: rotate(-45deg);
}

.modal__title {
	font-weight: 400;
}

.modal__click{
	display: flex;

	margin-top: 50px;
}

.modal__title{
	text-align: center;
	font-weight: 400;
	font-size: 40px;

	margin-bottom: 60px;
	margin-top: 40px;
}
/* /modal */
/*modals*/
/*modals*/

/*laboratory*/
.laboratory__title{
	font-size: 40px;
	font-weight: 400;
	margin-top: 4rem;
	margin-bottom: 5rem;

	text-align: center;
}

.laboratory__item{
	margin-bottom: 20px;
	font-size: 20px;
}

.laboratory__list{
	list-style: circle;
	margin-left: 3rem;
	margin-bottom: 5rem;
}
/*Laboratory*/